/* prevent text selection when moving/resizing */
body {
  font-family: Helvetica;
}
body.isDragging {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#desk,
#phone-guide {
  width: 375px;
  position: absolute;
  margin-left: -187px;
  height: 100%;
  left: 50%;
  right: 50%;
}
#phone-guide {
  z-index: 200;
  width: 373px;
  border: 1px solid black;
  outline: 1px solid white;
  top: -1px;
  bottom: -1px;
  pointer-events: none;
}
#phone-guide:before {
  content: "Viewable area on typical phone";
  margin: 5px auto;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 10px;
}
#edit-ui {
  z-index: 100;
}
.box {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  padding: 10px;
  z-index: 1;
}
.box.is-dragover {
  background: magenta;
}
.box .edit {
  height: 100%;
  width: 100%;
}
.box .handle {
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  background: black;
  content: "";
  cursor: se-resize;
}
.meta .box .handle {
  cursor: grab;
}
.box .handle.nw-handle {
  top: 0px;
  left: 0px;
}
.box .handle.ne-handle {
  top: 0px;
  right: 0px;
}
.box .handle.sw-handle {
  bottom: 0px;
  left: 0px;
}
.box .handle.se-handle {
  bottom: 0px;
  right: 0px;
}
.box.border {
  border: 1px solid lightseagreen;
}
.box:hover {
  border: 1px solid blue;
  margin: -1px;
}
.box:hover .handle {
  display: block;
  z-index: 3;
}
